__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python

*.log

.ipynb_checkpoints/

.env
.venv/
venv/
env/
ENV/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

output/
data/
save_model/
train_log/
images/

.idea/
.vscode/

wandb/

*.bib

.DS_Store
Thumbs.db
